.outer-cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #ECCA3D;
    background-size:cover;
}
*{
    text-decoration: none;
}
.inner-cont1{
    border-radius:8px;
    width:40%;
    background-color: white;
    padding:10px;
    text-align: center;
    padding:20px;
    color:white;
}
.home-img{
    padding:10px;
    height:150px;
    width:150px;
    border-radius:50%;
}
.main-heading1{
    padding:10px;
    color:black;
}
.Camps{
    margin:auto;
    margin-top:10px;
    padding:10px;
    background-color: #181518;
    border-radius:8px;
    border-width:0;
    color:#FFCD1A;
    font-size:20px;
    cursor:pointer;
    text-decoration: none;
    margin-bottom:10px;
    width:80%;
}
.YTMC{
    margin:auto;
    padding:10px;
    border-radius:8px;
    background-color: #181518;
    border-width:0;
    color:#FFCD1A;
    text-decoration: none;
    font-size:20px;
    width:80%;
    cursor:pointer;
}
@media (max-width:767px){
    .inner-cont1{
        width:70%;
    }
    .Camps{
        font-size:12px;
    }
    .YTMC{
        font-size:12px;
    }
}